{% extends "app/base.html" %}
{% load static %}
{% block title %}Buy Now{% endblock title %}


{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user.username|capfirst}}</h3>
        <div class="col-sm-2 border end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a>
                </li>
            </ul>
        </div>
        <div class="col-sm9 offset-sm-1 text-center">
            <h3>Password Changed Successfully !!!</h3>
                <div>
                    <iframe src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExMmxnMDMwdDE2MzFiZGdieGs4Z2QwYXY5anczZHllNHh6OWNzaXV0ZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/KIZ6pM1wl9qvvN345W/giphy.gif" width="200" height="200" class="giphy-embed"  frameborder="0" allowfullscreen></iframe>
                </div>
        </div>
    </div>
</div>
{% endblock main-content %}