{% extends "app/base.html" %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block main-content %}

<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>
                Reset Password Completed!!
            </h3>
            <div>
                <iframe src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExMmxnMDMwdDE2MzFiZGdieGs4Z2QwYXY5anczZHllNHh6OWNzaXV0ZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/KIZ6pM1wl9qvvN345W/giphy.gif" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
            </div>
        </div>

    </div>

</div>


{% endblock main-content %}